<link rel="stylesheet" href="css/canasta.css">
<link href="https://fonts.googleapis.com/css2?family=Give+You+Glory&display=swap" rel="stylesheet">


<div class="row cuadro_de_control">
  <div class="cinta border border-secondary rounded" id="10013">
    <div class="cinta-titulo-ind">
      <h3>Caja número: 10013</h3>
      <div class="indicadores"></div>
    </div> 
      
    <div class="cinta-botones">
        <button  role="button" class="izquierda" id="izquierda-10013">
          <i class="fas fa-angle-left"></i>
        </button>

        <div class="contenedor-cinta">
          <div class="carrusel">
            <div class="imagenes-cinta">
              
              <a href="#">
                <img class="border border-secondary rounded-circle" src="img/1.jpg" alt="una llama xd">
              </a>

            </div>
          </div>
        </div>

        <button  role="button" class="derecha" id="derecha-10013">
          <i class="fas fa-angle-right"></i>
        </button>
    </div>
      
  </div>
  <div class="cinta border border-secondary rounded">
  <div class="cinta-titulo-ind">
    <h3>Caja numero: 10013</h3>
    <div class="indicadores"></div>
  </div> 
      
      <div class="cinta-botones">
          <button  role="button" class="izquierda" id="izquierda">
            <i class="fas fa-angle-left"></i>
          </button>

          <div class="contenedor-cinta">
            <div class="carrusel">
              <div class="imagenes-cinta">
                
                  <a href="#">
                    <img class="border border-secondary rounded-circle" src="img/1.jpg" alt="una llama xd">
                  </a>
               
              </div>
              <div class="imagenes-cinta">
                
                  <a href="#">
                    <img class="border-secondary rounded-circle" src="img/2.jpg" alt="una llama xd">
                  </a>
               
              </div>
              <div class="imagenes-cinta">
                
                  <a href="#">
                    <img class="border-secondary rounded-circle" src="img/3.jpg" alt="una llama xd">
                  </a>
               
              </div>
              <div class="imagenes-cinta">
                
                  <a href="#">
                    <img class="border-secondary rounded-circle" src="img/4.jpg" alt="una llama xd">
                  </a>
               
              </div>
              <div class="imagenes-cinta">
                
                  <a href="#">
                    <img class="border-secondary rounded-circle" src="img/5.jpg" alt="una llama xd">
                  </a>
               
              </div>
              <div class="imagenes-cinta">
                
                  <a href="#">
                    <img class="border-secondary rounded-circle" src="img/6.jpg" alt="una llama xd">
                  </a>
               
              </div>
              <div class="imagenes-cinta">
                
                  <a href="#">
                    <img class="border-secondary rounded-circle" src="img/7.jpg" alt="una llama xd">
                  </a>
               
              </div>
              <div class="imagenes-cinta">
                
                  <a href="#">
                    <!--img class="border-secondary rounded-circle" src="img/8.jpeg" alt="ocho jotapege"-->
                    <p class="border border-secondary rounded-circle">
                      Cautín azul 40w radox 
                    </p>
                  </a>
               
              </div>
              <div class="imagenes-cinta">
                
                  <a href="#">
                    <img class="border-secondary rounded-circle" src="img/9.jpg" alt="una llama xd">
                  </a>
               
              </div>
              <div class="imagenes-cinta">
                
                  <a href="#">
                    <img class="border-secondary rounded-circle" src="img/10.jpg" alt="una llama xd">
                  </a>
               
              </div>
              
              
            </div>
          </div>

          <button  role="button" class="derecha" id="derecha">
            <i class="fas fa-angle-right"></i>
          </button>
      </div>
      
  </div>
  <div class="cinta border border-secondary rounded">
  <div class="cinta-titulo-ind">
    <h3>Caja numero: 10013</h3>
    <div class="indicadores"></div>
  </div> 
      
      <div class="cinta-botones">
          <button  role="button" class="izquierda" id="izquierda">
            <i class="fas fa-angle-left"></i>
          </button>

          <div class="contenedor-cinta">
            <div class="carrusel">
              <div class="imagenes-cinta">
                
                  <a href="#">
                    <img class="border border-secondary rounded-circle" src="img/1.jpg" alt="una llama xd">
                  </a>
               
              </div>
              <div class="imagenes-cinta">
                
                  <a href="#">
                    <img class="border-secondary rounded-circle" src="img/2.jpg" alt="una llama xd">
                  </a>
               
              </div>
              <div class="imagenes-cinta">
                
                  <a href="#">
                    <img class="border-secondary rounded-circle" src="img/3.jpg" alt="una llama xd">
                  </a>
               
              </div>
              <div class="imagenes-cinta">
                
                  <a href="#">
                    <img class="border-secondary rounded-circle" src="img/4.jpg" alt="una llama xd">
                  </a>
               
              </div>
              <div class="imagenes-cinta">
                
                  <a href="#">
                    <img class="border-secondary rounded-circle" src="img/5.jpg" alt="una llama xd">
                  </a>
               
              </div>
              <div class="imagenes-cinta">
                
                  <a href="#">
                    <img class="border-secondary rounded-circle" src="img/6.jpg" alt="una llama xd">
                  </a>
               
              </div>
              <div class="imagenes-cinta">
                
                  <a href="#">
                    <img class="border-secondary rounded-circle" src="img/7.jpg" alt="una llama xd">
                  </a>
               
              </div>
              <div class="imagenes-cinta">
                
                  <a href="#">
                    <!--img class="border-secondary rounded-circle" src="img/8.jpeg" alt="ocho jotapege"-->
                    <p class="border border-secondary rounded-circle">
                      Cautín azul 40w radox 
                    </p>
                  </a>
               
              </div>
              <div class="imagenes-cinta">
                
                  <a href="#">
                    <img class="border-secondary rounded-circle" src="img/9.jpg" alt="una llama xd">
                  </a>
               
              </div>
              <div class="imagenes-cinta">
                
                  <a href="#">
                    <img class="border-secondary rounded-circle" src="img/10.jpg" alt="una llama xd">
                  </a>
               
              </div>
              
              
            </div>
          </div>

          <button  role="button" class="derecha" id="derecha">
            <i class="fas fa-angle-right"></i>
          </button>
      </div>
      
  </div>
</div>

<div class="row canasta">
  <ol id="canasta" class="list-group list-group-numbered">
  </ol>
</div> 

<script src="js/canasta.js"></script>
<script src="https://kit.fontawesome.com/ac0f7be7b9.js" crossorigin="anonymous"></script>