<div class="contenido overflow-hidden">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Inicio</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Contacto</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/venta">Venta</a>
                      </li>
                      <!--li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </li-->
                      <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Proyectos</a>
                      </li>
                    </ul>

                  </div>
                </div>
            </nav>
            <div class="container titulo p-3 d-flex flex-column justify-content-center align-content-center">
                <h1>Sistema de Control</h1>
                <h4>Version 1.0</h2>
            </div>
            <!--div class="figura"></div-->
            
            <div style="height: 150px; overflow: hidden;" >
              <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C198.08,139.63 408.01,0.50 519.19,109.03 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgba(230, 230, 230, 0.973);">
                </path>
              </svg>
            </div>
            <!--svg height="45" width="100%">
                <polygon points="0,0 1200,45 0,45"
                stroke="#efefefe3" stroke-width=2 fill="#efefefe3"/> 
            </svg--> 
        </header>
        <section class="primera">
            
            <div class="container-cards ">
                <div class="tarjeta">
                    <i class="fi-rr-vector-alt" style="font-size: 5rem;"></i>
                    <div class="card-body">
                      <p class="card-text">
                        <b>Integración de mercadotecnia</b>
                        <br> Soluciones especializadas en mercadotecnia y relaciones públicas
                      </p>
                      
                      <a href="#" class="btn "></a>

                    </div>
                </div>
                <div class="tarjeta">
                    <i class="fi-rr-video-camera" style="font-size: 5rem;"></i>
                    <div class="card-body">
                      <p class="card-text">
                        <b>Medios publicitarios</b>
                        <br> Aplicación de campañas publicitarias con conocimiento del medio más óptimo
                      </p>
                      
                      <a href="#" class="btn "></a>

                    </div>
                </div>
                <div class="tarjeta">
                    <i class="fi-rr-subtitles" style="font-size: 5rem;"></i>
                    <div class="card-body">
                      <p class="card-text">
                        <b>Diseño web</b>
                        <br> Diseño y programación de páginas web
                      </p>
                      
                      <a href="#" class="btn "></a>

                    </div>
                </div>
            </div>
          <div class="espacio" style="height: 400px;"></div>
        </section>
        <section class="segunda">
          <div class="container">
            <div class="row">
              <div class="col-50 overflow-hidden">
                <img src="img/london-underground.jpg" alt="publicidad" srcset="">
              </div>
              <div class="col">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, atque.</p>
              </div>
            </div>
          </div>
        </section>
</div>