<div class="input-group mb-3">
  <input autofocus id="codigo" type="text" class="form-control" placeholder="codigo de barras" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <span class="input-group-text" id="basic-addon2">@example.com</span>
</div>

<ol id="canasta" class="list-group list-group-numbered">
  
</ol>

{{> controles}}
asdadsadsa <svg class="codigobarras"></svg>
<script src="https://cdn.jsdelivr.net/jsbarcode/3.3.3/JsBarcode.all.min.js"></script>
<script src="js/servidor.js"></script>
<script src="js/venta.js"></script>
